body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #222222, #000000);
    color: #FFFFFF;
  }
  
  .splash {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  p {
    font-size: 1.5rem;
    color: #999999;
  }
  